.post {
  background-color: var(--gray-800);
  border-radius: 0.3rem;
  padding: 2.5rem;
  border-bottom: 1px solid var(--gray-900);
  margin-bottom: 0.1rem;

  .content {
    line-height: 1.6;
    color: var(--gray-300);
    margin-top: 1.5rem;

    p {
      margin-top: 1rem;
    }

    a {
      font-weight: bold;
      color: var(--green-500);

      &:hover {
        color: var(--green-300);
      }
    }
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    time {
      font-size: 0.875rem;
      color: var(--gray-400);
    }

    .author {
      display: flex;
      align-items: center;
      gap: 1rem;

      img {
        width: 3rem;
        height: 3rem;
        border-radius: 0.2rem;
        border: 0.1875rem solid var(--white);
        outline: 0.09375rem solid var(--green-500);
      }
    }

    .authorInfo {
      strong {
        display: block;
        color: var(--gray-100);
        line-height: 1.6;
      }

      span {
        display: block;
        font-size: 0.875rem;
        color: var(--gray-400);
        line-height: 1.6;
      }
    }
  }

  .form {
    width: 100%;
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    border-top: 1px solid var(--gray-600);

    // efeito de esconder elementos html
    footer {
      visibility: hidden;
      max-height: 0;
    }

    // efeito de exibir elementos html após focus no elemento
    &:focus-within footer {
      visibility: visible;
      max-height: none;
    }

    strong {
      line-height: 1.6;
      color: var(--gray-100);
    }

    textarea {
      width: 100%;
      background-color: var(--gray-900);
      border: 0;
      resize: none;
      height: 6rem;
      padding: 1rem;
      border-radius: 0.2rem;
      color: var(--gray-100);
      line-height: 1.4;
      margin-top: 1rem;
    }

    button[type="submit"] {
      padding: 1rem 1.5rem;
      margin-top: 1rem;
      border: 0;
      border-radius: 0.2rem;
      background-color: var(--green-500);
      color: var(--white);
      font-weight: bold;
      cursor: pointer;

      transition: background-color 0.1s;

      &:hover {
        background-color: var(--green-300);
      }
    }
  }
}
